<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mycommons.simpleandroidbase.sab">

    <application>
        <provider
            android:name=".app.SabContentProvider"
            android:authorities="SabContentProvider"
            android:enabled="true"
            android:exported="false"></provider>

        <activity android:name=".base.host.BaseHostActivity" />
    </application>

</manifest>